.sidebar-row{
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar-row:hover{
    border-radius: 20px;
    background-color: lightgray;
}

.sidebar-row > h4{
    margin-left: 20px;
    font-weight: 600;
}